[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Gnome Connection Manager
Comment=A simple ssh connection manager for gnome
GenericName=Connection Manager
Exec=gnome-connection-manager
Terminal=false
Type=Application
Icon=gnome-connection-manager
Categories=GTK;GNOME;Network;
StartupWMClass=gnome-connection-manager
Name[en]=Gnome Connection Manager
